# Core functionality - changes here should be rare!
/src/app.py                   @AbdelrahmanAnany
/src/backend/database.py      @AbdelrahmanAnany
/src/backend/routers/auth.py  @AbdelrahmanAnany

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AbdelrahmanAnany
